Django>=5.0,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=24.2
dj-database-url>=2.1
psycopg2-binary>=2.9
python-decouple>=3.8
reportlab>=4.1
Pillow>=10.2
openpyxl>=3.1
pyotp>=2.9
cryptography>=42.0
django-redis>=5.4
clamd>=1.0.2
drf-spectacular>=0.27

# Test dependencies
pytest>=8.0
pytest-django>=4.8
factory_boy>=3.3
pypdf>=4.0
